html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;    
}

.allChoices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.playerChoice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computerChoice {
    margin-left: 200px;
}
.rock {
    padding: 100px;
    background-color: red;
}

.paper {
    padding: 100px;
    background-color: blue;
    margin-left: 50px;
    margin-right: 50px;
}

.scissors {
    padding: 100px;
    background-color: green;
}

.computer{
    padding: 100px;
    background-color: gray;
}